/* Home-page Component */

.home-page {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  &__wrapper {
    display: flex;
    gap: 100px;
  }
}
.intro {
  display: flex;
  // display: none;
  justify-content: center;
  flex-direction: column;
  gap: 81px;
  z-index: 10;
  &__about {
    display: flex;
    flex-direction: column;
  }
  &__github {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.about {
  &__hello {
    color: #e5e9f0;
    font-size: 18px;
    line-height: 24px;
  }
  &__name {
    color: #e5e9f0;
    font: {
      size: 62px;
      weight: 400;
    }
    line-height: 80px;
  }
  &__position {
    color: #4d5bce;
    font-size: 32px;
    line-height: 42px;
  }
  // Blinking cursor
  &__position::after {
    content: "|";
    animation: blink 1s infinite;
  }
}

.github {
  &__code {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-weight: 500;

    &_const {
      color: #4d5bce;
    }
    &_link {
      color: #43d9ad;
    }
    &_equal {
      color: #ffffff;
    }
    &_url {
      color: #e99287;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/*Game Snake*/
.home-page::after {
  content: "";
  position: absolute;
  background: url(../../assets/images/bg-home.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.game {
  display: flex;
  // display: none;
  border: 1px solid #0c1616;
  border-radius: 8px;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
  background: linear-gradient(156deg, #175553, rgba(67, 217, 173, 0.13));
  padding: 35px;
  gap: 25px;
  position: relative;
  z-index: 10;
  &__board {
    width: 240px;
    height: 400px;
    border-radius: 8px;
    background: rgba(1, 22, 39, 0.84);
    box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__instructions {
    display: flex;
    flex-direction: column;
    background: rgba(1, 20, 35, 0.19);
    border-radius: 8px;
    padding: 14px;
  }
  &__comment {
    font-size: 14px;
    line-height: 18px;
    color: $color-light;
  }
  &__comment:nth-child(2) {
    margin: 5px 0 15px;
  }
  &__keys {
    display: grid;
    grid-template-areas:
      ". top ."
      "left bottom right";
    gap: 4px;
  }
  &__key {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1e2d3d;
    border-radius: 8px;
    background: #010c15;
    width: 49px;
    height: 29px;
    &_top {
      grid-area: top;
    }
    &_left {
      grid-area: left;
    }
    &_bottom {
      grid-area: bottom;
    }
    &_right {
      grid-area: right;
    }
  }
  &__arrow {
    color: #ffffff;
    font-family: remixicon !important;
    font-size: 10px;

    &_top::before {
      content: "\25B2";
    }
    &_left::before {
      content: "\25C0";
    }
    &_bottom::before {
      content: "\25BC";
    }
    &_right::before {
      content: "\25B6";
    }
  }
  &__mark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #114944;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 10px;
    &_top-left {
      top: 0;
      left: 0;
      background: radial-gradient(
        73.08% 73.08% at 50% 26.92%,
        #196c6a 15.1%,
        #114b4a 100%
      );
      box-shadow: 0px 1px 2px 0px rgba(26, 130, 119, 1) inset,
        2px 2px 4px 0px rgba(13, 67, 65, 1);
    }
    &_top-right {
      top: 0;
      right: 0;
      background: radial-gradient(
        73.08% 73.08% at 50% 26.92%,
        #217d7a 15.1%,
        #114b4a 100%
      );
      box-shadow: 0px 1px 2px 0px rgba(31, 129, 119, 1) inset,
        2px 2px 4px 0px rgba(13, 67, 65, 1);
    }
    &_bottom-right {
      bottom: 0;
      right: 0;
      background: radial-gradient(
        73.08% 73.08% at 50% 26.92%,
        #234b7c 15.1%,
        #122e4f 100%
      );
      box-shadow: 0px 1px 2px 0px rgba(44, 88, 141, 1) inset,
        2px 2px 4px 0px rgba(18, 44, 78, 1);
      border: 1px solid #163355;
    }
    &_bottom-left {
      bottom: 0;
      left: 0;
      background: radial-gradient(
        73.08% 73.08% at 50% 26.92%,
        #164c51 15.1%,
        #0d3a40 100%
      );
      box-shadow: 0px 1px 2px 0px rgba(22, 100, 92, 1) inset,
        2px 2px 4px 0px rgba(9, 45, 50, 1);
      color: #0a2f2e;
    }
    &-close::before {
      font-size: 10px;
      line-height: 22px;
      color: #0a2f2e;
      content: "\2716	";
    }
  }
  &__scores {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__points {
    display: flex;
    gap: 20px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__point {
    background: #43d9ad;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    opacity: 0.3;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: #43d9ad;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      opacity: 0.1;
      top: -6px;
      left: -6px;
    }
    &::after {
      content: "";
      position: absolute;
      background: #43d9ad;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      opacity: 0.2;
      top: -3px;
      left: -3px;
    }
  }
}
