/*Input*/

.form {
  &__group {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px;
    min-height: 100px;
  }
  &__label {
    margin: 0 0 10px;
  }
  &__input {
    height: 40px;
    color: #465e77;
    padding: 10px 15px;
    width: 100%;
    background: #011221;
    outline: none;
    border: 1px solid $color-border-main;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    &:focus {
      border: 1px solid #607b96;
      box-shadow: 0px 0px 0px 2px #607b964d;
    }
  }
  &__label-error {
    text-align: end;
    margin: 5px 0 0;
    font-size: 12px;
    line-height: 12px;
    color: #d82121;
  }
}
