/*variables*/
@import "/src/assets/scss/core/variables";
/*fonts*/
@import "/src/assets/scss/core/fonts";
/*components*/
@import "/src/assets/scss/components/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
  outline: 1px solid $color-border-main;
}
::-webkit-scrollbar-thumb {
  background: #607b96;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

#root {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  padding: 1.5rem;
}

button,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

body {
  font: {
    family: $font-stack;
    size: $font-size;
    weight: 450;
  }
  line-height: $line-height;
  color: $primary-color;
  background: #010c15;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  // flex-grow: 1;
  background: $bg-color;
  border: 1px solid $color-border-main;
  border-radius: 8px;
}

/*About Page Component*/

.about-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  &__content {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-border-main;
  }
  &__slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - (3rem + 57px + 52px + 3px));
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.info {
  &__scroll {
    overflow: hidden;
  }
  &__container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    height: 100%;
    overflow-y: auto;
  }
  &__content {
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    /*+2px its extra px to container */
    height: calc(100vh - (1.5rem * 2 + (58px + 2px) + 42px + 52px));
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  &__text {
    margin: 0 0 20px;
    text-align: justify;
    text-indent: 35px;
    &:last-of-type {
      margin: 0;
    }
    &_light {
      color: $color-light;
    }
    &_peach {
      color: $color-peach;
    }
    &_blue {
      color: $color-blue;
    }
    &_light-green {
      color: $color-light-green;
    }
  }
}

.soft-skills {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
  &__title {
    font-size: 25px;
    color: $color-light;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.77);
    margin: 0 0 20px;
  }
  &__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__item {
    outline: 2px solid $color-border-main;
    padding: 10px;
    border-radius: 10px;
    color: $color-light;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    opacity: 0;
    background: linear-gradient(
      to bottom right,
      rgba(67, 217, 173, 0.4) 25%,
      rgba(201, 139, 223, 0.4),
      rgba(77, 91, 206, 0.4) 75%
    );
    transition: transform 0.6s ease;
    cursor: default;
    &:hover {
      transform: scale(1.05);
    }
    $itemDelay: 0.4s;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation: fadeIn 1s ease-in-out;
        animation-delay: $itemDelay * $i;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.interests {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
  &__title {
    font-size: 25px;
    color: $color-light;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgb(150 150 150 / 77%);
    margin: 0 0 20px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.education {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: $color-light;
      bottom: 0;
      left: 0;
      transform: translateY(20px);
    }
  }
  &__step {
    color: $color-blue;
    font-weight: $font-weight;
    margin: 0 0 20px;
  }
  &__description-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 0 10px;
    &:nth-child(3) {
      margin: 0 0 20px;
    }
  }
  &__text {
    &_light {
      color: $color-light;
    }
  }
  &__link-container {
  }
  &__button.--disabled {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px #607b96;
    cursor: auto;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: -webkit-fill-available;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
  }
  &__icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 18px;
    cursor: default;
    animation: changeColor 1.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  &__progress {
    width: 100%;
    outline: 1px solid $color-border-main;
    height: 20px;
    border-radius: 8px;
    position: relative;

    &-done {
      height: 100%;
      background: linear-gradient(
        to bottom right,
        rgba(67, 217, 173, 0.4) 25%,
        rgba(201, 139, 223, 0.4),
        rgba(77, 91, 206, 0.4) 75%
      );
      box-shadow: 0px 3px 3px -5px rgba(67, 217, 173, 0.4),
        0px 2px 5px rgba(201, 139, 223, 0.4);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-light;
      width: 0;
      opacity: 0;
      transition: 0.5s ease-in;
    }
  }
  /* Animation Width + Color*/
  &__content {
    $itemDelay: 0.5s;
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) .skills__icon svg,
      &:nth-child(#{$i}) .skills__text {
        animation: changeColor 1.2s ease-in-out;
        animation-delay: $itemDelay * $i;
        animation-fill-mode: forwards;
      }
      &:nth-child(#{$i}) .skills__progress-done {
        animation: changeWidth 1.2s ease-in-out;
        animation-delay: $itemDelay * $i;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes changeWidth {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes changeColor {
  to {
    color: $color-light;
    fill: $color-light;
  }
}

/*Project Page Component*/

.project-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  &__content {
    display: flex;
    flex-direction: column;
  }
}
/*Contact Page Component*/

.contact-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 0.9fr 1.1fr;
  &__form {
    display: flex;
    padding: 2rem;
    align-items: baseline;
    justify-content: center;
    height: calc(100vh - (3rem + 57px + 52px + 3px));
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid $color-border-main;
  }
  &__represent {
    display: flex;
    padding: 2rem;
    align-items: baseline;
    justify-content: center;
    height: calc(100vh - (3rem + 57px + 52px + 3px));
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.represent__lines {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.line {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 28px;

  &__number {
    text-align: right;
    width: 21px;
  }
  &__text {
    max-width: 450px;
    &_blue {
      color: #5565e8;
    }
    &_orange {
      color: #fea55f;
      word-break: break-all;
    }
    &_pink {
      color: #c98bdf;
    }
  }
}

.line:nth-child(4),
.line:nth-child(5),
.line:nth-child(6),
.line:nth-child(7),
.line:nth-child(8) {
  gap: 50px;
}
