/*variables*/
@import "/src/assets/scss/core/variables";
/*fonts*/
@import "/src/assets/scss/core/fonts";
/*components*/
@import "/src/assets/scss/components/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
  outline: 1px solid $color-border-main;
}
::-webkit-scrollbar-thumb {
  background: #607b96;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

#root {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  padding: 1.5rem;
}

button,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

body {
  font: {
    family: $font-stack;
    size: $font-size;
    weight: 450;
  }
  line-height: $line-height;
  color: $primary-color;
  background: #010c15;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  // flex-grow: 1;
  background: $bg-color;
  border: 1px solid $color-border-main;
  border-radius: 8px;
}

/*About Page Component*/

.about-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  &__content {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-border-main;
  }
  &__later {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    color: $color-light;
  }
}

.info {
  &__scroll {
    overflow: hidden;
  }
  &__container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    height: 100%;
    overflow-y: auto;
  }
  &__content {
    height: 100%;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

    &:hover svg,
    &:hover .skills__text {
      fill: $color-light;
      color: $color-light;
    }
  }
  &__icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon svg {
    transition: 0.3s ease-in;
  }
  &__text {
    font-size: 18px;
    cursor: default;
    transition: 0.3s ease-in;
  }
  &__progress {
    width: 100%;
    outline: 1px solid $color-border-main;
    height: 20px;
    border-radius: 8px;
    position: relative;

    &-done {
      height: 100%;
      background: linear-gradient(
        to bottom right,
        rgba(67, 217, 173, 0.4) 25%,
        // transparent,
        rgba(201, 139, 223, 0.4),
        rgba(77, 91, 206, 0.4) 75%
      );
      box-shadow: 0px 3px 3px -5px rgba(67, 217, 173, 0.4),
        0px 2px 5px rgba(201, 139, 223, 0.4);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-light;
      width: 0;
      opacity: 0;
      transition: 0.5s ease-in;
    }
  }
}

/*Project Page Component*/

.project-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  &__content {
    display: flex;
    flex-direction: column;
  }
}

/*Contact Page Component*/

.contact-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 0.9fr 1.1fr;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $color-border-main;
  }
  &__represent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.represent__lines {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 28px;

  &__number {
    text-align: right;
    width: 21px;
  }
  &__text {
    max-width: 450px;
    &_blue {
      color: #5565e8;
    }
    &_orange {
      color: #fea55f;
    }
    &_pink {
      color: #c98bdf;
    }
  }
}

.line:nth-child(4),
.line:nth-child(5),
.line:nth-child(6),
.line:nth-child(7) {
  gap: 50px;
}
