/*variables*/
@import "/src/assets/scss/core/variables";
/*fonts*/
@import "/src/assets/scss/core/fonts";
/*components*/
@import "/src/assets/scss/components/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

#root {
  height: 100vh;
  padding: 1.5rem;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

body {
  font: {
    family: $font-stack;
    size: $font-size;
    weight: 450;
  }
  line-height: $line-height;
  color: $primary-color;
  background: #010c15;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: $bg-color;
  border: 1px solid $color-border-main;
  border-radius: 8px;
}

/*About Page Component*/

.about-page {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  &__aside {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 310px;
    // display: flex;
    // flex-direction: column;
    // border-right: 1px solid #1e2d3d;
  }
}

.aside {
  &__content {
    border-left: 1px solid $color-border-main;
    border-right: 1px solid $color-border-main;
  }
  &__tabs {
    display: flex;
    flex-direction: column;
  }
}

.tabs {
  &__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  &__item {
    transition: 0.3s ease-in;
    &:hover {
      fill: #ffffff;
    }
  }
}
