/*Button Component*/

.button {
  width: fit-content;
  padding: 10px 15px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: #1c2b3a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: translate 0.1s ease-in, text-shadow 0.3s ease-in;
  box-shadow: 3px 3px 0px #607b96;
  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px #607b96;
  }
  &:hover {
    text-shadow: 0px 0px 4px $color-light;
  }
  &.--disabled {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px #607b96;
    text-shadow: none;
    cursor: auto;
  }
}
