/*SendButton Component*/

.form {
  &__button {
    width: fit-content;
    padding: 10px 15px;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #1c2b3a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: 4px 4px 0px #607b96;
    &:active {
      transform: translate(4px, 4px);
      box-shadow: 0px 0px 0px #607b96;
    }
    // &:disabled {
    //   box-shadow: 0px 0px 0px #607b96;
    //   cursor: not-allowed;
    //   &:active {
    //     transform: translate(0, 0);
    //     box-shadow: 0px 0px 0px #607b96;
    //   }
    // }
  }
}
