/*Tabs Component*/

.file-tabs {
  border-bottom: 1px solid $color-border-main;
  &__tab {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content;
    padding: 10px 15px;
    border-right: 1px solid $color-border-main;
    min-height: 41px;
    min-width: 50px;
    &-title {
      color: $color-light;
    }
    &-slash {
      color: $color-light;
    }
  }
}
