/*Widget Component*/

.widget {
  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-bottom: 1px solid $color-border-main;
    width: 100%;
    cursor: pointer;
  }

  &__header-text {
    color: #fff;
  }

  &.--show {
    .widget__header-icon {
      transform: rotate(90deg);
    }
    .widget__content {
      padding: 15px 40px;
      opacity: 1;
      height: fit-content;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-border-main;
    }
  }

  &__content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.1s ease-in;
  }

  &__header-icon {
    transition: transform 0.2s ease-in;
  }
}

.folder {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    padding: 5px 0;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}
