/*Modal Component*/

// $maxWidth: 1280;
// @mixin adaptiv-font($pcSize, $mobSize) {
//   $addSize: $pcSize - $mobSize;
//   $maxWidth: $maxWidth - 320;
//   font-size: calc(
//     #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
//   );
// }

.modal {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: linear-gradient(
    to bottom right,
    rgba(67, 217, 173, 0.4) 35%,
    // transparent,
    rgba(201, 139, 223, 0.4),
    rgba(77, 91, 206, 0.4) 65%
  );
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-size: 400% 400%;
  animation: BgOpacity 0.5s ease-in-out, gradient 30s ease infinite;
  overflow-y: scroll;

  &.--open {
    display: flex;
  }

  &__content {
    border-radius: 15px;
    border: 1px solid $color-border-main;
    background-color: $bg-color;
    width: calc(100% - 40px);
    max-width: 700px;
    margin: auto;
    animation: modalApperance 0.5s ease-in-out;
  }

  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-main;
  }

  &__title {
    color: #5565e8;
    font-size: 21px;
    line-height: 24px;
    font-weight: 500;
  }
  &__close {
    font-size: 45px;
    transition: all 0.4s ease;
    cursor: pointer;
    &:hover {
      color: $color-light;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
  }
  &__feature {
    &_bold {
      text-transform: uppercase;
      font-weight: 500;
      color: $color-light;
    }
  }
  &__image {
    border-radius: 15px;
    box-shadow: 1px 1px 15px $primary-color;
  }
  &__button-link {
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes BgOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalApperance {
  0% {
    transform: scale(0.3) translateY(600px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
