/*Header Component*/

.header {
  display: flex;
  border-bottom: 1px solid $color-border-main;
  z-index: 10;
  &__logo {
    width: $aside-width;
    padding: 18px 22px;
    border-right: 1px solid $color-border-main;
  }
  &__navigation {
    display: flex;
    flex-grow: 1;
  }
}

.navigation {
  &__item {
    position: relative;
    padding: 18px 32px;
    border-right: 1px solid $color-border-main;
    transition: 0.3s ease-in;
    cursor: pointer;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: " ";
      background: transparent;
      height: 3px;
      width: 100%;
    }

    &.--active {
      color: #ffffff;
      &::after {
        background: #fea55f;
        transition: 0.5s ease-in;
      }
    }
  }

  &__item:last-child {
    margin-left: auto;
    border: none;
    border-left: 1px solid $color-border-main;
  }

  &.--active {
    .navigation__item:after {
    }
  }
}
