/*Header Component*/

.header {
  display: flex;
  border-bottom: 1px solid $color-border-main;
  position: relative;
  z-index: 99;
  &__logo {
    width: $aside-width;
    padding: 18px 15px 18px 22px;
    border-right: 1px solid $color-border-main;
    z-index: 98;
    @media (max-width: 949px) {
      margin-right: auto;
      padding: 18px 22px;
    }
    @media (max-width: 425px) {
      width: inherit;
      padding: 18px 22px;
    }
    @media (max-width: 330px) {
      padding: 18px 15px;
    }
  }
  &__wrapper {
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-color;
  }
  &__burger {
    display: flex;
    cursor: pointer;
    padding: 20px;
  }
}

.navigation {
  display: flex;
  flex-grow: 1;
  &.--open {
    transform: translateY(0);
    transition: transform 0.5s ease-in;
    .navigation__blur {
      position: absolute;
      top: 0;
      backdrop-filter: blur(2px);
      transition: backdrop-filter 1s ease-in;
    }
  }
  @media (max-width: 949px) {
    z-index: 97;
    position: absolute;
    width: calc(100vw - 2 * $main-padding + 2px);
    height: fit-content;
    top: 58px;
    left: 0;
    flex-direction: column;
    transform: translateY(-250%);
    transition: transform 1s ease-in;
    background: $bg-color;
  }
  @media (max-width: 768px) {
    width: calc(100vw + 2px);
  }

  &__blur {
    display: flex;
    width: calc(100vw - 2 * $main-padding + 2px);
    height: calc(100vh - 2 * $main-padding - 58px);
    position: absolute;
    top: -200%;

    @media (max-width: 768px) {
      width: calc(100vw + 2px);
      height: calc(100vh - 58px);
    }
  }

  &__item {
    position: relative;
    padding: 18px 32px;
    border-right: 1px solid $color-border-main;
    transition: 0.3s ease-in;
    cursor: pointer;
    @media (max-width: 949px) {
      border: none;
      border-bottom: 1px solid $color-border-main;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: ' ';
      background: transparent;
      height: 3px;
      width: 100%;
      @media (max-width: 949px) {
        height: 100%;
        width: 5px;
      }
    }

    &.--active {
      color: #ffffff;
      &::after {
        background: #fea55f;
        transition: 0.5s ease-in;
      }
    }
  }

  &__item:last-child {
    margin-left: auto;
    border: none;
    border-left: 1px solid $color-border-main;
    @media (max-width: 1024px) {
      border-left: none;
      margin-left: 0;
    }

    @media (max-width: 949px) {
      border: none;
      border-bottom: 1px solid $color-border-main;
    }
  }

  &__item:first-child {
    @media (max-width: 1024px) {
      border-left: 1px solid $color-border-main;
      margin-left: auto;
    }
    @media (max-width: 950px) {
      border-left: none;
      margin-left: 0;
    }
  }
}
