/*Footer Component*/

.footer {
  display: flex;
  border-top: 1px solid $color-border-main;
  z-index: 10;
  &__social {
    display: flex;
    flex-grow: 1;
  }
}

.social {
  &__text {
    padding: 15px 22px;
    border-right: 1px solid $color-border-main;
    @media (max-width: 479px) {
      margin-right: auto;
    }
    @media (max-width: 353px) {
      padding: 15px 15px;
    }
    @media (max-width: 353px) {
      padding: 15px 5px;
    }
  }
  &__item-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-border-main;
    padding: 15px;
    width: 50px;
    @media (max-width: 479px) {
      border: none;
      border-left: 1px solid $color-border-main;
    }
    &:hover {
      .social__item-prompt {
        opacity: 1;
      }
      .social__item {
        fill: #ffffff;
      }
    }
  }
  &__item-prompt {
    position: absolute;
    text-align: center;
    width: 110px;
    height: 42px;
    top: 0;
    transform: translateY(-135%);
    background: $primary-color;
    color: #fff;
    border-radius: 7px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0;
    transition: opacity 0.4s ease-in;

    &::after {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-top: 14px solid $primary-color;
      border-bottom: none;
      bottom: -13px;
      left: 46px;
    }
  }

  &__item-link:first-of-type {
    @media (max-width: 320px) {
      border: none;
    }
  }
  &__item-link:last-child {
    display: none;
    @media (max-width: 479px) {
      display: flex;
    }
  }
  &__item {
    transition: 0.3s ease-in;
  }
}

.social-github {
  display: flex;
  margin-left: auto;
  gap: 5px;
  align-items: center;
  padding: 15px 22px;
  border-left: 1px solid $color-border-main;
  @media (max-width: 479px) {
    display: none;
  }
  &:hover .social-github__item-icon {
    fill: #ffffff;
  }
  &__item {
    display: flex;
  }
  &__item-icon {
    transition: all 0.3s ease-in;
  }
}
