$font-stack: "Fira Code", monospace;
$font-size: 16px;
$line-height: 21px;
$primary-color: #607b96;
$bg-color: #011627;
$bg-color-card: #011221;

$aside-width: 20vw;
$aside-width: 310px;
// $logo-width: calc(#{$aside-width}-1px);
/*Colors*/

$color-border-main: #1e2d3d;
$color-error: #d82121;
$color-light: #fff;
